<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138713540357-nnmoouuve57h3a7bcobncq9ugj9qj5q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138713540357-nnmoouuve57h3a7bcobncq9ugj9qj5q8</string>
	<key>API_KEY</key>
	<string>AIzaSyAtPsb4F3m4YRyV1fCApFs0eaMjZyfpvoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>138713540357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xanh.Car-Rental-App</string>
	<key>PROJECT_ID</key>
	<string>carrental-8c6e4</string>
	<key>STORAGE_BUCKET</key>
	<string>carrental-8c6e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138713540357:ios:68bf67b35e83a89a1d396c</string>
</dict>
</plist>